<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.personal.dao.BoardDAO">

<insert id="writeBoard" parameterType="Board">
	INSERT INTO personal_board
		(
			boardnum
			, userid
			, title
			, contents
			<if test = "originalfile != null and originalfile != ''">
			, originalfile
			, savedfile
			</if>
		)
	VALUES
		(
			personal_board_seq.NEXTVAL
			, #{userid}
			, #{title}
			, #{contents}
			<if test = "originalfile != null and originalfile != ''">
			, #{originalfile}
			, #{savedfile}
			</if>
		)
</insert>

<select id="selectAll" resultType="Board">
	SELECT * FROM personal_board ORDER BY boardnum DESC
</select>

<select id="selectOne" resultType="Board" parameterType="int">
	SELECT * FROM personal_board WHERE boardnum = #{boardnum}
</select>


<insert id="inputReply" parameterType="Reply">
	INSERT INTO personal_reply
		(
			replynum
			, boardnum
			, userid
			, replytext
		)
	VALUES
		(
			personal_reply_seq.NEXTVAL
			, #{boardnum}
			, #{userid}
			, #{replytext}
		)
</insert>

<select id="selectReply" resultType="Reply" parameterType="int">
	SELECT * FROM personal_reply WHERE boardnum = #{boardnum}
</select>

</mapper>
